<form [formGroup]="options" (submit)="onSubmit()">
    <div class="row">
        <app-options-menu #imgContainer class="col-3" [options]="options.controls"></app-options-menu>

            <div id="img-preview" class="col-9 d-flex justify-content-center align-items-center">
                @if(img_src===undefined){
                    <div
                    class="card w-50 h-50 d-flex justify-content-center align-items-center border-primary"
                    (click)="openSetImageModal()"
                    >
                        <fa-icon 
                        [icon]="uploadIcon"
                        class="text-primary"
                        style="font-size: 60px;"
                        ></fa-icon>
                        <h5 class="text-secondary">Set Image</h5>
                    </div>
                }
                @else {
                    <div class="d-flex align-items-center justify-content-end change-img-btn" style="width:5%;">     
                        <div class="btn bg-primary" placement="left" ngbTooltip="change Image">
                            <fa-icon [icon]="changeImgIcon" class="text-white fs-3" (click)="openSetImageModal()"></fa-icon>
                        </div>
                    </div>
                    <div
                    class="img-container" 
                    [ngStyle]="{
                                'height':portrait?'95%':'auto',
                                'width':portrait?'auto':'90%',
                                'aspect-ratio':aspectRatio,
                                'background-image': 'linear-gradient(rgba(255, 255, 255,'+(1-img_opacity)+'), rgba(255, 255, 255, '+(1-img_opacity)+')), url(' + img_src + ')',
                                'margin-right':'5%',
                                }"
                    (dragover)="onDragover($event)"
                    (drop)="onDrop($event)"
                    >
                        <!-- <div class="header">
                            <app-dynamic-text-input 
                            #headerInputRef 
                            [text]="options.controls['header']" 
                            [fontSize]="headerFontSize"  
                            [fontWeight]="headerFontWeight"
                            [fontFamily]="headerFontFamily"
                            [fontColor]="headerFontColor"
                            >
                            </app-dynamic-text-input>
                        </div> -->

                        <textarea
                        #headerTextarea
                        rows="1"
                        draggable="true"
                        (dragstart)="ondragStart($event)"
                        (dragend)="onDragend($event)"
                        class="headerTextarea text-center"
                        [formControl]="options.controls['header']" 
                        [ngStyle]="{'color':headerFontColor,'font-family':headerFontFamily,'font-size':headerFontSize+'px','font-weight':headerFontWeight,'max-height':'30%',top:headerY+'px',left:headerX+'px'}"
                        (input)=" adjustTextareaHeight($event)">
                        </textarea>

                        <textarea
                        rows="2"
                        class="descriptionTextarea text-center"
                        [formControl]="options.controls['description']" 
                        [ngStyle]="{'color':descriptionFontColor,'font-family':descriptionFontFamily,'font-size':descriptionFontSize+'px','font-weight':descriptionFontWeight,'max-height':'58%','margin-bottom':'2%'}" 
                        (input)=" adjustTextareaHeight($event)">
                        </textarea>
                    </div>
                }
            </div>
    </div>
</form>

<!-- Modal -->
<ng-template #generatedLinkModal let-modal>

    <!-- Alert -->
    <div class="alert-container" [ngStyle]="{'display':showAlert?'flex':'none'}">
        <div class="alert alert-primary" role="alert">
            Link has been copied to Clipboard
        </div>
    </div>

	<div class="modal-header">
		<h4 class="modal-title">Generated Link</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="row">
            <div class="col-10 d-flex align-items-center justify-content-center"><a [href]="generatedLink" target="_blank" class="pb-2" style="white-space: nowrap; overflow: auto;">{{generatedLink}}</a></div>
            <div class="col-2" (click)="copyLink()">
                <fa-icon class="btn btn-outline-primary" [icon]="copyIcon" placement="bottom" ngbTooltip="Copy Generated Link"></fa-icon>
            </div>
        </div>
	</div>
	<div class="modal-footer justify-content-center">
		<button type="button" class="btn btn-success" (click)="modal.close('Close click')">Continue</button>
	</div>
</ng-template>

<app-select-image #appSelectImageRef class="modal-body" (onSetImage)="handleImageUrl($event)"></app-select-image>