.img-container{
    border-radius: 5px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%;
    max-height: 95%;
}

.header{
    margin-top: 5%;
    height: 20%;
    display: flex;
    justify-content: center;
    overflow:hidden;
}

.img-container textarea {
    /* height: 60%; */
    font-size: 32px;
    padding: 2%;
    color: black;
    font-family: monospace;
    margin-bottom: 5%;
    background-color: transparent;
    resize: none;
    overflow-y: hidden;
    border: none;
    width: 100%;
}

.alert-container{
    width: 100%;
    position: fixed;
    justify-content: center;
    left:0%;
    bottom: 15%;
}

/* upload image */
.change-img-btn{
    visibility:hidden;
}
.change-img-btn .btn{
    border-radius: 50% 0% 0% 50%;
    padding: 0% 0% 0% 12% !important;
}

#img-preview{
    height: 100vh;
}

#img-preview:hover .change-img-btn{
    visibility:visible;
}