.options-container{
    height:100vh;
}
.option-container{
    padding: 3%;
}

.option-container h6{
    text-align: center;
    margin-bottom: 5% ;
}

.option-container div{
    display: flex;
    justify-content: space-between;
}

.option-container div div{
    width: 45%;
}

.w-45{
    width: 45%;
}

ul.list-group{
    overflow: auto;
}

.placeHolder-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.placeHolder{
    width: 80%;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}
