<app-navbar></app-navbar>
<div class="container p-5">
    <div class="box bg-primary">
        <div class="d-flex justify-content-between align-items-center mx-3">
            <h2 class="text-center my-3">Image Block List</h2>
            <button class="btn btn-dark" type="button" (click)="openVerticallyCentered(createImg)">Create</button>
        </div>
        <!-- (starts) List of Images block -->
        <ul class="list-group">
            
            @for (block of imageBlocks | slice: (page-1) * pageSize : page * pageSize;; track block.createdOn; let idx = $index) {
                <div class="btn list-group-item-action hover-bg" >
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold" (click)="openFullscreen(content, block.generatedURL, block.generationName)">{{ block.generationName }}</div>
                            <span class="text-secondary">Category - 1</span>
                            <span class="text-secondary mx-2">{{ block.createdOn }}</span>
                        </div>
                        <button class="btn" (click)="editGeneratedImage(block.generationId)" >
                            <fa-icon [icon]="editImageIcon" class="text-primary fs-5"  title="Edit Image"></fa-icon>
                        </button>
                        <button class="btn" (click)="copyImageSrc(block.generatedURL, idx)" >
                            <fa-icon [icon]="copyImageLinkIcon" class="text-primary fs-5"  title="Copy Image Link"></fa-icon>
                        </button>
                    </li>
                </div>
            }
            @empty {
                <p>There are NoImage Blocks.</p>
            }

        </ul>
        <!-- (ends) List of Images block -->
    </div>
</div>

<!-- Pagination Code -->
<ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalImageBlocks" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" />


<!-- Create Model Code -->
<ng-template #createImg let-modal>
    <div class="modal-header bg-primary">
        <h4 class="modal-title">Generate Image Block</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <form>
            <div class="form-group my-4">
                <input type="email" class="form-control" id="email" placeholder="Enter Image Name">
            </div>
            <div class="form-group my-4">
                <select class="form-select">
                    <option value="1">Category - 1 (default)</option>
                    <option value="2">Category - 2</option>
                    <option value="3">Counter</option>
                </select>
            </div>
        </form>
	</div>
    <div class="modal-footer justify-content-center bg-primary">
        <button type="button" class="btn btn-dark ">Create</button>
	</div>
</ng-template>

<!-- Image Show Model Code -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ imageName }}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body img-body">
        <img class="img-preview" [src]="imageUrl" alt="Generate Image">
	</div>
    <div class="modal-footer justify-content-center ">
        <button type="button" class="btn btn-dark" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>