<app-navbar></app-navbar>
<div class="container p-5">
    <div class="box">
        <h2 class="text-center my-3">Image Block List</h2>
            <!-- (starts) List of Images block -->
            <ul class="list-group">
                
                <button class="btn hover-bg">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">UnityUplift</div>
                            <span class="text-secondary">Category - 1</span>
                        </div>
                        <button class="btn" (click)="copyImageSrc()" >
                            <fa-icon [icon]="copyImageLink" class="text-primary fs-5"  title="Copy Image Link"></fa-icon>
                        </button>
                    </li>
                </button>
            
                <button class="btn list-group-item-action hover-bg">    
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">SparkChange Initiative</div>
                            <span class="text-secondary">Category - 1</span>
                        </div>
                        <button class="btn" (click)="copyImageSrc()">
                            <fa-icon [icon]="copyImageLink" class="text-primary fs-5"></fa-icon>
                        </button>
                    </li>
                </button>
            
                <button class="btn list-group-item-action hover-bg">    
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">HarmonyHub Movement</div>
                            <span class="text-secondary">Category - 1</span>
                        </div>
                        <button class="btn" (click)="copyImageSrc()">
                            <fa-icon [icon]="copyImageLink" class="text-primary fs-5"></fa-icon>
                        </button>
                    </li>
                </button>
            
                <button class="btn list-group-item-action hover-bg">    
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">RenewRipple Campaign</div>
                            <span class="text-secondary">Category - 1</span>
                        </div>
                        <button class="btn" (click)="copyImageSrc()">
                            <fa-icon [icon]="copyImageLink" class="text-primary fs-5"></fa-icon>
                        </button>
                    </li>
                </button>
            
                <button class="btn list-group-item-action hover-bg">    
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">ImpactIgnite Project</div>
                            <span class="text-secondary">Category - 1</span>
                        </div>
                        <button class="btn" (click)="copyImageSrc()">
                            <fa-icon [icon]="copyImageLink" class="text-primary fs-5"></fa-icon>
                        </button>
                    </li>
                </button>
            
                <button class="btn list-group-item-action hover-bg">    
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">InspireTogether Drive</div>
                            <span class="text-secondary">Category - 1</span>
                        </div>
                        <button class="btn" (click)="copyImageSrc()">
                            <fa-icon [icon]="copyImageLink" class="text-primary fs-5"></fa-icon>
                        </button>
                    </li>
                </button>
            
                <button class="btn list-group-item-action hover-bg">    
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">EmpowerWave Movement</div>
                            <span class="text-secondary">Category - 1</span>
                        </div>
                        <button class="btn" (click)="copyImageSrc()">
                            <fa-icon [icon]="copyImageLink" class="text-primary fs-5"></fa-icon>
                        </button>
                    </li>
                </button>
            
                <button class="btn list-group-item-action hover-bg">    
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">ReviveHope Initiative</div>
                            <span class="text-secondary">Category - 1</span>
                        </div>
                        <button class="btn" (click)="copyImageSrc()">
                            <fa-icon [icon]="copyImageLink" class="text-primary fs-5"></fa-icon>
                        </button>
                    </li>
                </button>
            
                <button class="btn list-group-item-action hover-bg">    
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">TransformTomorrow Project</div>
                            <span class="text-secondary">Category - 1</span>
                        </div>
                        <button class="btn" (click)="copyImageSrc()">
                            <fa-icon [icon]="copyImageLink" class="text-primary fs-5"></fa-icon>
                        </button>
                    </li>
                </button>
            
                <button class="btn list-group-item-action hover-bg">    
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">ElevateCommunity Crusade</div>
                            <span class="text-secondary">Category - 1</span>
                        </div>
                        <button class="btn" (click)="copyImageSrc()">
                            <fa-icon [icon]="copyImageLink" class="text-primary fs-5"></fa-icon>
                        </button>
                    </li>
                </button>
            </ul>
            <!-- (ends) List of Images block -->
    </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>