textarea{
    /* background-color: transparent; */
    resize:horizontal;
    overflow-y: hidden;
    /* border: none; */
    position: relative;
    padding: 0px;
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 100;
    border-width:1px;
}

/* holder */
.texboxHolder {
    width:fit-content;
    text-align: center;
    background: transparent;
    border-radius: 5px;
    /* position: relative; */
    padding: 3px;
    position: absolute;
  }

.dragHandle{
    position: absolute;
    top:-30px;
    right: 2px;
    cursor: move;
}