.container{
    border: 2px solid #0d6efd;
    border-radius: 10px;
    padding: 15px;
    width: 40%;
    margin-top: 60px;
}

.logo-section {
    width: 100%;
    margin: 28px 0;
    text-align: center;
}

.img-fluid {
  height: 70px;
}   

.heading{
    padding-bottom: 40px;
}

.dangerColor{
    color: red;
}
.login-tag a{
    text-decoration: none;
}