<ng-template #modalRef let-modal>

    <!-- Alert -->
    <div class="alert-container" [ngStyle]="{'display':showAlert?'flex':'none'}">
        <div class="alert alert-primary" role="alert">
            Link has been copied to Clipboard
        </div>
    </div>

	<div class="modal-header">
		<h4 class="modal-title">Generated Link</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="row">
            <div class="col-10 d-flex align-items-center justify-content-center"><a [href]="generatedLink" target="_blank" class="pb-2" style="white-space: nowrap; overflow: auto;">{{generatedLink}}</a></div>
            <div class="col-2" (click)="copyLink()">
                <fa-icon class="btn btn-outline-primary" [icon]="copyIcon" placement="bottom" ngbTooltip="Copy Generated Link"></fa-icon>
            </div>
        </div>
	</div>
	<div class="modal-footer justify-content-center">
		<button type="button" class="btn btn-success" (click)="modal.close('Close click')">Continue</button>
	</div>
</ng-template>